/**
 *  Main CSS
 *  @author : Ramakrishnan Sathyavageeswaran
 */
html{
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 90px;
}

.wrapper {
    perspective: 1000px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background: rgba(255, 235, 59, 0.81);
    z-index: 99999;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}
.footer p {
    margin-top: 8px;
}
.about-content{
    line-height: 2em;
    font-size: 1.3em;
    padding-bottom: 3%;
}
.title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    font-size: 6em;
    transform: rotateY(0deg);
    color: #F2F2F2;
}

.row-margin {
    margin-top: 15%;
    height: 100%;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    padding-left: 3%;
    font-size: 1em;


}
.navbar-nav > a {
    float: none;
    display: inline-block;
}
.bg-faded{
    background: #FFEB3B;
}
.navbar{
    z-index: 199999;
}
.nav-bar {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    transform: rotateY(10deg);
}

.main-nav {
    font-size: 1.2em;
    margin-left: 40%;
}

.main-nav a {
    margin-left: 10px;
    color: #f9f9f9;
    text-decoration: none;
    transition: color .7s ease-in-out;
}

.main-nav a .fa {
    color: #f9f9f9;
}

.main-nav a:hover {
    color: #EAE160;
}

.cstm {
    font-family: 'Fredoka One', cursive;
}

.justified-gallery a:hover img {
    transform: scale(1.15);
}

figure {
    margin: 0;
}

.sidebar-nav {

}

.nav-side ul {
    padding-left: 0px;
    list-style: none;
}

.nav-side ul li {
    padding: 10px 10px 10px 30px;
    transition: border .5s ease-in;
}

.nav-side ul li:hover {
    border-left: 3px solid #EAE160;
}

.nav li a {
    position: relative;
    display: block;
    padding: 15px 15px 15px 50px;
    font-size: 12px;
    color: #9c9c9c;
    border-bottom: 1px solid #dddddd;
    text-decoration: none;
    transition: background .5s, box-shadow .5s, color .5s;
}

.nav li a:before {
    font: 14px fontawesome;
    position: absolute;
    top: 14px;
    left: 20px;
}


.nav li a:hover {
    background: #dddddd;
    color: #2b2d2f;
    box-shadow: inset 5px 0 0 #2196f3, inset 6px 0 0 #f7f7f7;
}

.nav li a.active {
    box-shadow: inset 5px 0 0 #FFEB3B, inset 6px 0 0 #f7f7f7;
    background: #dfdfdf;
    color:#2b2d2f;
}

.nav li a.active .fa{
    color: #2b2d2f;
}



.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.footer ul {
    text-align: center;
}
.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}



/*Change icons circle size and color here*/
.social-icons .fa {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 1.3em;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
    border-radius: 50%;
}
.social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}


.subtitle {
    margin: 0 0 2em 0;
}
.fancy {
    line-height: 0.5;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #FFEB3B;
    border-top: 1px solid #FFEB3B;
    top: 0;
    width: 800px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
    text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}
.featherlight .featherlight-content {
    background: none !important;
}





@-webkit-keyframes sheen {
    0% {
        -webkit-transform: skewY(-45deg) translateX(0);
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        -webkit-transform: skewY(-45deg) translateX(12.5em);
        transform: skewY(-45deg) translateX(12.5em);
    }
}
@keyframes sheen {
    0% {
        -webkit-transform: skewY(-45deg) translateX(0);
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        -webkit-transform: skewY(-45deg) translateX(12.5em);
        transform: skewY(-45deg) translateX(12.5em);
    }
}
@media only screen and (max-width: 766px){
    .about-content{
        font-size: .8em;
    }
    .blockquote .display-4{
        font-size: 1.8rem;
    }
}
@media only screen and (min-width:767px) and (max-width: 992px){

    .img-thumbnail {
        width: 100px;
    }
    .nav-title{
        font-size: 1.6em;
        text-align: left !important;
    }
    .nav-subtitle{
        font-size: .8em;
    }
    .nav li a {
        padding-left: 10px;
    }
    .about-content{
        font-size: 1em;
    }
    .blockquote .display-4{
        font-size: 2rem;
    }
    .mainbar{
        z-index: 999999;
    }
}


@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
    .nav-title{
        font-size: 2rem;
    }
    .nav-subtitle{
        font-size: 1rem;
    }
    .about-content{
        padding-bottom: 1%;
    }
}
@media only screen and (min-width:1440px) and (max-width: 1599px){

    .nav-title{
        font-size: 3.1rem;
    }
    .nav-subtitle{
        font-size: 1.65rem;
    }
    /* styles for browsers larger than 1440px; */
    .social-icons .fa {
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        font-size: 1.1em;

    }
}
@media only screen and (min-width:1600px){
    .nav-title{
        font-size: 3.2rem;
    }
    .nav-subtitle{
        font-size: 1.75rem;
    }
    .social-icons .fa {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 1.1em;

    }
    .nav li a {
        font-size: 1em;
    }



    .about-content{
        font-size: 1.8em;
        padding-bottom: 3%;

    }
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width:768px){
    /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}
