<div id="nature" class="justified-gallery">
    <a class="gallery" href="https://farm4.staticflickr.com/3848/14645508782_603e3eab62_c.jpg">
        <img src="https://farm4.staticflickr.com/3848/14645508782_603e3eab62_z.jpg" alt="">
    </a>

    <a href="https://farm4.staticflickr.com/3840/14645884815_5c644e6261_c.jpg">
        <img src="https://farm4.staticflickr.com/3840/14645884815_5c644e6261_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm4.staticflickr.com/3838/14459285018_ec8a89d2d5_c.jpg">
        <img src="https://farm4.staticflickr.com/3838/14459285018_ec8a89d2d5_z.jpg" alt="">
    </a>
    <a class="gallery"  href="https://farm3.staticflickr.com/2915/14645477922_737b58eaf3_c.jpg">
        <img src="https://farm3.staticflickr.com/2915/14645477922_737b58eaf3_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm4.staticflickr.com/3905/14643735964_814ef5ce2a_c.jpg">
        <img src="https://farm4.staticflickr.com/3905/14643735964_814ef5ce2a_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm4.staticflickr.com/3880/14643710874_eb7ab92a45_c.jpg">
        <img src="https://farm4.staticflickr.com/3880/14643710874_eb7ab92a45_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm4.staticflickr.com/3860/14459228900_c7f0c24441_c.jpg">
        <img src="https://farm4.staticflickr.com/3860/14459228900_c7f0c24441_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm4.staticflickr.com/3852/14459500117_b6c3a80755_c.jpg">
        <img src="https://farm4.staticflickr.com/3852/14459500117_b6c3a80755_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm4.staticflickr.com/3835/14298094908_a27b069af3_c.jpg">
        <img src="https://farm4.staticflickr.com/3835/14298094908_a27b069af3_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm8.staticflickr.com/7416/14126203795_1fdf25c6ee_c.jpg">
        <img src="https://farm8.staticflickr.com/7416/14126203795_1fdf25c6ee_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm8.staticflickr.com/7370/14126499144_bfc823f1aa_c.jpg">
        <img src="https://farm8.staticflickr.com/7370/14126499144_bfc823f1aa_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm8.staticflickr.com/7318/14146245133_98febf14c2_c.jpg">
        <img src="https://farm8.staticflickr.com/7318/14146245133_98febf14c2_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm8.staticflickr.com/7453/13939556260_19b2e7c313_c.jpg">
        <img src="https://farm8.staticflickr.com/7453/13939556260_19b2e7c313_z.jpg" alt="">
    </a>

    <a class="gallery" href="https://farm3.staticflickr.com/2918/14126179105_4ce4a498c8_c.jpg">
        <img src="https://farm3.staticflickr.com/2918/14126179105_4ce4a498c8_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm8.staticflickr.com/7349/13939584888_4969c134e3_c.jpg">
        <img src="https://farm8.staticflickr.com/7349/13939584888_4969c134e3_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm3.staticflickr.com/2923/13939600590_59bbcc4fd6_c.jpg">
        <img src="https://farm3.staticflickr.com/2923/13939600590_59bbcc4fd6_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm6.staticflickr.com/5021/14126516084_ff8a702da3_c.jpg">
        <img src="https://farm6.staticflickr.com/5021/14126516084_ff8a702da3_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm8.staticflickr.com/7445/13939598820_12f1069fc8_c.jpg">
        <img src="https://farm8.staticflickr.com/7445/13939598820_12f1069fc8_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm3.staticflickr.com/2925/13939519269_64afaf79cc_c.jpg">
        <img src="https://farm3.staticflickr.com/2925/13939519269_64afaf79cc_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm3.staticflickr.com/2900/14298204777_5b2c767716_c.jpg">
        <img src="https://farm3.staticflickr.com/2900/14298204777_5b2c767716_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm4.staticflickr.com/3848/14504804953_081d459972_c.jpg">
        <img src="https://farm4.staticflickr.com/3848/14504804953_081d459972_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm8.staticflickr.com/7418/14122896251_f69cd3e9b7_c.jpg">
        <img src="https://farm8.staticflickr.com/7418/14122896251_f69cd3e9b7_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm6.staticflickr.com/5508/14126491444_80f3f86a01_c.jpg">
        <img src="https://farm6.staticflickr.com/5508/14126491444_80f3f86a01_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm8.staticflickr.com/7347/14103054426_8ed0257055_c.jpg">
        <img src="https://farm8.staticflickr.com/7347/14103054426_8ed0257055_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm3.staticflickr.com/2911/13939521447_7c9f7f658b_c.jpg">
        <img src="https://farm3.staticflickr.com/2911/13939521447_7c9f7f658b_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm3.staticflickr.com/2929/14122898251_a1c03123f7_c.jpg">
        <img src="https://farm3.staticflickr.com/2929/14122898251_a1c03123f7_z.jpg" alt="">
    </a>
    <a class="gallery" href="https://farm6.staticflickr.com/5585/14298244257_85a154f12a_c.jpg">
        <img src="https://farm6.staticflickr.com/5585/14298244257_85a154f12a_z.jpg" alt="">
    </a>
</div>

<script>
    $('#nature').justifiedGallery({
        rowHeight: 250,
        lastRow: 'nojustify',
        margins: 3
    });
    $('.gallery').featherlightGallery({
        gallery: {
            fadeIn: 300,
            fadeOut: 300
        },
        openSpeed:    300,
        closeSpeed:   300
    });
</script>