<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-6">
            <h1 >About me</h1>
            <br>
            <br>
            <div class="blockquote">
                <h6 class="display-4"> Hello !</h6>
                <h6 class="display-4"> I'm Vandana</h6>
            </div>

            <div class="about-content">
                <p>{{aboutme}}?</p>
                <p>{{workline}}</p>
            </div>


        </div>
        <div class="col-md-4"></div>
    </div>



</div>

